![example](images/director_shot.jpeg)

# Project Title

**Authors:** Student 1, Student 2, Student 3
***

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [57]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gzip
import json
import requests
import re
from bs4 import BeautifulSoup
%matplotlib inline

In [58]:
# more data
tn_moviebudgets = pd.read_csv('tn.movie_budgets.csv.gz')
tm_movies = pd.read_csv('tmdb.movies.csv.gz')
rt_reviews = pd.read_csv('rt.reviews.tsv.gz', compression='gzip',
                   error_bad_lines=False, sep="\t", encoding = 'latin-1')
rt_movieinfo = pd.read_csv('rt.movie_info.tsv.gz', compression='gzip',
                   error_bad_lines=False, sep="\t", encoding = 'latin-1')
imdb_title_princ = pd.read_csv('imdb.title.principals.csv.gz')
imdb_title_crew = pd.read_csv('imdb.title.crew.csv.gz')
imdb_title_akas = pd.read_csv('imdb.title.akas.csv.gz')
imdb_name_basics = pd.read_csv('imdb.name.basics.csv.gz')

In [59]:
#main data
imdb_title_ratings = pd.read_csv('imdb.title.ratings.csv.gz')
imdb_title_basics = pd.read_csv('imdb.title.basics.csv.gz')
bom_movie_gross = pd.read_csv('bom.movie_gross.csv.gz')

In [60]:
imdb_title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [61]:
imdb_title_ratings.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [62]:
imdb_title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [73]:
primary_title = imdb_title_basics['primary_title']

In [74]:
imdb_ratings_joined = imdb_title_basics.merge(imdb_title_ratings, on = 'tconst',  how = 'outer')
imdb_ratings_joined

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0
...,...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,NaN,NaN
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,NaN,NaN
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,NaN,NaN
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN,NaN,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,NaN,NaN

In [75]:
bom_movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [66]:
bom_movie_gross.sort_values(by='year', ascending=False)[0:50]

,title,studio,domestic_gross,foreign_gross,year
3386,An Actor Prepares,Grav.,1700.0,NaN,2018
3183,On the Basis of Sex,Focus,24600000.0,13600000,2018
3176,Tyler Perry's Acrimony,LGF,43500000.0,2900000,2018
3177,Mary Queen of Scots,Focus,16500000.0,29900000,2018
3178,The Possession of Hannah Grace,SGem,14800000.0,28200000,2018
3179,Overlord,Par.,21700000.0,20000000,2018
3180,The Darkest Minds,Fox,12700000.0,28400000,2018
3181,Holmes and Watson,Sony,30600000.0,9900000,2018
3182,Show Dogs,Global Road,17900000.0,21300000,2018
3184,Namiya,CL,70800.0,35300000,2018
3193,Pad Man,Sony,1700000.0,25600000,2018
3185,The Girl in the Spider's Web: A New Dragon Tat...,Sony,14800000.0,20300000,2018
3186,The Hate U Give,Fox,29700000.0,5200000,2018
3187,Death Wish (2018),MGM,34000000.0,NaN,2018
3188,Nobody's Fool,Par.,31700000.0,1800000,2018
3189,Bad Times At The El Royale,Fox,17800000.0,14000000,2018
3190,Baaghi 2,FIP,1300000.0,29900000,2018
3191,The Happytime Murders,STX,20700000.0,6800000,2018
3175,Uncle Drew,LG/S,42500000.0,4200000,2018
3174,The Son of Bigfoot,VPD,289000.0,46800000,2018
3173,Once Upon a Deadpool,Fox,6100000.0,44400000,2018
3172,Breaking In (2018),Uni.,46800000.0,4600000,2018
3157,The Spy Who Dumped Me,LGF,33600000.0,41800000,2018
3158,Second Act,STX,39300000.0,33000000,2018
3159,Sanju,FIP,7900000.0,63600000,2018
3160,Book Club,Par.,68600000.0,NaN,2018
3161,12 Strong,WB,45800000.0,21600000,2018
3162,"Love, Simon",Fox,40800000.0,25500000,2018
3163,Mile 22,STX,36100000.0,30200000,2018
3164,Life of the Party,WB (NL),53100000.0,12800000,2018
3165,Isle Of Dogs,FoxS,32000000.0,32200000,2018
3166,Adrift,STX,31400000.0,28500000,2018
3167,The 15:17 to Paris,WB,36300000.0,20800000,2018
3168,Early Man,LGF,8300000.0,46400000,2018
3169,Peppermint,STX,35400000.0,18400000,2018
3170,Teen Titans Go! To The Movies,WB,29800000.0,22300000,2018
3171,Slender Man,SGem,30600000.0,21200000,2018
3192,Midnight Sun,Global Road,9600000.0,17800000,2018
3194,Monster Family,VPD,127000.0,26300000,2018
3232,Can You Ever Forgive Me?,FoxS,8800000.0,NaN,2018
3222,102 Not Out,Sony,1300000.0,10900000,2018
3215,Unfriended: Dark Web,BH Tilt,8900000.0,6300000,2018
3216,Upgrade,BH Tilt,12000000.0,2400000,2018
3217,Unsane,BST,7700000.0,6600000,2018
3218,The Sisters Brothers,Annapurna,3100000.0,10000000,2018
3219,Welcome to Marwen,Uni.,10800000.0,2100000,2018
3220,Hotel Artemis,Global Road,6700000.0,6000000,2018
3221,Marrowbone,Magn.,1400.0,12300000,2018
3223,Boy Erased,Focus,6800000.0,5000000,2018
3195,White Boy Rick,Studio 8,24000000.0,1900000,2018

In [67]:
tm_movies.info()
tm_movies.sort_values(by='release_date')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
14335,14335,"[18, 10752]",143,en,All Quiet on the Western Front,9.583,1930-04-29,All Quiet on the Western Front,7.8,299
21758,21758,"[27, 53]",43148,en,The Vampire Bat,2.292,1933-01-21,The Vampire Bat,5.6,23
3580,3580,"[35, 18, 10749]",263768,fr,Le Bonheur,1.653,1936-02-27,Le Bonheur,8.7,3
26345,26345,[],316707,en,How Walt Disney Cartoons Are Made,0.600,1939-01-19,How Walt Disney Cartoons Are Made,7.3,3
11192,11192,"[18, 36, 10749]",887,en,The Best Years of Our Lives,9.647,1946-12-25,The Best Years of Our Lives,7.8,243
...,...,...,...,...,...,...,...,...,...,...
24819,24819,[18],481880,en,Trial by Fire,4.480,2019-05-17,Trial by Fire,7.0,3
24003,24003,"[18, 9648, 53]",411144,en,We Have Always Lived in the Castle,14.028,2019-05-17,We Have Always Lived in the Castle,5.2,24
24892,24892,[99],541577,en,This Changes Everything,3.955,2019-06-28,This Changes Everything,0.0,1
24265,24265,"[10749, 18]",428836,en,Ophelia,8.715,2019-06-28,Ophelia,0.0,4
26057,26057,"[27, 80, 80, 80, 80, 80, 80]",570704,en,Murdery Christmas,0.840,2020-12-25,Murdery Christmas,0.0,1

In [76]:
tn_moviebudgets.info()
tn_moviebudgets['release_date'] = pd.to_datetime(tn_moviebudgets['release_date'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   datetime64[ns]
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 271.2+ KB

In [77]:
tn_moviebudgets.sort_values(by='release_date')[5750:]

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
3795,96,2019-05-17,The Sun is Also a Star,"$9,000,000","$4,950,029","$5,434,029"
1380,81,2019-05-17,John Wick: Chapter 3 â Parabellum,"$40,000,000","$141,744,320","$256,498,033"
80,81,2019-05-24,Aladdin,"$182,000,000","$246,734,314","$619,234,314"
4012,13,2019-05-24,BrightBurn,"$7,000,000","$16,794,432","$27,989,498"
124,25,2019-05-31,Godzilla: King of the Monsters,"$170,000,000","$85,576,941","$299,276,941"
4265,66,2019-05-31,MA,"$5,000,000","$36,049,540","$44,300,625"
1370,71,2019-05-31,Rocketman,"$41,000,000","$57,342,725","$108,642,725"
580,81,2019-06-07,The Secret Life of Pets 2,"$80,000,000","$63,795,655","$113,351,496"
2,3,2019-06-07,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
4534,35,2019-06-07,Late Night,"$4,000,000","$246,305","$246,305"
1997,98,2019-06-14,Shaft,"$30,000,000","$600,000","$600,000"
341,42,2019-06-14,Men in Black: International,"$110,000,000","$3,100,000","$3,100,000"
1538,39,2019-06-21,Kursk,"$40,000,000",$0,"$4,212,799"
3947,48,2019-06-21,Burn Your Maps,"$8,000,000",$0,$0
2915,16,2019-07-12,Crawl,"$17,000,000",$0,$0
3163,64,2019-08-14,Blinded by the Light,"$15,000,000",$0,$0
670,71,2019-08-30,PLAYMOBIL,"$75,000,000",$0,$0
1542,43,2019-09-13,The Goldfinch,"$40,000,000",$0,$0
1208,9,2019-09-20,Ad Astra,"$49,800,000",$0,$0
2029,30,2019-09-30,Unhinged,"$29,000,000",$0,$0
952,53,2019-11-08,Midway,"$59,500,000",$0,$0
1206,7,2019-11-08,Arctic Dogs,"$50,000,000",$0,$0
1207,8,2019-11-22,The Rhythm Section,"$50,000,000",$0,$0
480,81,2019-12-31,Army of the Dead,"$90,000,000",$0,$0
3515,16,2019-12-31,Eli,"$11,000,000",$0,$0
671,72,2019-12-31,355,"$75,000,000",$0,$0
1543,44,2019-12-31,Down Under Cover,"$40,000,000",$0,$0
2329,30,2019-12-31,Reagan,"$25,000,000",$0,$0
3312,13,2019-12-31,Rogue City,"$13,000,000",$0,$0
535,36,2020-02-21,Call of the Wild,"$82,000,000",$0,$0
1205,6,2020-12-31,Hannibal the Conqueror,"$50,000,000",$0,$0
194,95,2020-12-31,Moonfall,"$150,000,000",$0,$0

In [78]:
rt_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

In [79]:
rt_movieinfo.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [82]:
rt_joined_studios = rt_joined['studio'].value_counts()
rt_joined_studios.tolist()
rt_joined_studios
pd.DataFrame(rt_joined_studios)

                            studio
Universal Pictures            4423
Paramount Pictures            3142
20th Century Fox              2418
Sony Pictures                 2135
Sony Pictures Classics        2096
...                            ...
Corridor                         1
FilmRise                         1
International Film Circuit       1
Grindstone Entertainment         1
Inception Media Group            1

[200 rows x 1 columns]

In [81]:
rt_joined = rt_movieinfo.merge(rt_reviews, on = 'id', how = 'outer')
rt_joined

,id,synopsis,rating_x,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio,review,rating_y,fresh,critic,top_critic,publisher,date
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0.0,Patrick Nabarro,"November 10, 2018"
2,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0.0,io9.com,"May 23, 2018"
3,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0.0,Stream on Demand,"January 4, 2018"
4,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0.0,MUBI,"November 16, 2017"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54852,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1.0,Village Voice,"September 24, 2002"
54853,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures,NaN,1/5,rotten,Michael Szymanski,0.0,Zap2it.com,"September 21, 2005"
54854,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures,NaN,2/5,rotten,Emanuel Levy,0.0,EmanuelLevy.Com,"July 17, 2005"
54855,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures,NaN,2.5/5,rotten,Christopher Null,0.0,Filmcritic.com,"September 7, 2003"
54856,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures,NaN,3/5,fresh,Nicolas Lacroix,0.0,Showbizz.net,"November 12, 2002"

In [83]:
imdb_title_princ.info()
imdb_title_princ.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   tconst      1028186 non-null  object
 1   ordering    1028186 non-null  int64
 2   nconst      1028186 non-null  object
 3   category    1028186 non-null  object
 4   job         177684 non-null   object
 5   characters  393360 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.1+ MB

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

In [84]:
imdb_title_crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   tconst     146144 non-null  object
 1   directors  140417 non-null  object
 2   writers    110261 non-null  object
dtypes: object(3)
memory usage: 3.3+ MB

In [85]:
imdb_name_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606648 entries, 0 to 606647
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   nconst              606648 non-null  object
 1   primary_name        606648 non-null  object
 2   birth_year          82736 non-null   float64
 3   death_year          6783 non-null    float64
 4   primary_profession  555308 non-null  object
 5   known_for_titles    576444 non-null  object
dtypes: float64(2), object(4)
memory usage: 27.8+ MB

In [86]:
imdbcast_crew = imdb_title_princ.merge(imdb_name_basics, on = 'nconst', how = 'outer')
imdbcast_crew = imdbcast_crew.sort_values(by = 'tconst')
imdbcast_crew = imdbcast_crew.merge(imdb_title_crew, on = 'tconst', how = 'outer')
imdbcast_crew

,tconst,ordering,nconst,category,job,characters,primary_name,birth_year,death_year,primary_profession,known_for_titles,directors,writers
0,tt0063540,3.0,nm0756379,actor,NaN,"[""Ganeshi N. Prasad""]",Balraj Sahni,1913.0,1973.0,"actor,writer,director","tt0055039,tt0043307,tt0234827,tt0233326",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276"
1,tt0063540,7.0,nm1194313,writer,story,NaN,Mahasweta Devi,1926.0,2016.0,writer,"tt0108001,tt0832902,tt0063540,tt0178562",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276"
2,tt0063540,9.0,nm1391276,writer,screenplay,NaN,Anjana Rawail,NaN,NaN,"writer,costume_designer","tt0293499,tt0266712,tt0266757,tt0063540",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276"
3,tt0063540,6.0,nm0023551,writer,dialogue,NaN,Abrar Alvi,1927.0,2009.0,"writer,actor,director","tt0071811,tt0359496,tt0056436,tt0061046",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276"
4,tt0063540,8.0,nm0347899,writer,dialogue,NaN,Gulzar,1936.0,NaN,"music_department,writer,soundtrack","tt0091256,tt0178186,tt1010048,tt2176013",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033229,tt7659080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm6474441,NaN
1033230,tt7763158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1033231,tt7980000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1033232,tt8352852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1033233,tt8835712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Here you run your code to explore the data

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to clean the data

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***